*{
    box-sizing: border-box;
    margin: 0;
    font-family: Raleway, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.icon:hover{
    will-change: ttransform;
    transition: 1s;
    transform: scale(1.3);
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    cursor: pointer;
    color: #FF9B51;
}

input::-webkit-input-placeholder{
    color: #BDBDBD;
    font-size: 14px;
}

input{
    padding: 1px 12px;
}

input:invalid{
    background-color: #e7b98e;
}

.title{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    line-height: 43px;
}

.title-black{
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
 }

.title-black::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 102px;
    background-color: #FF8B38;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
 }

.btn:hover{
    border: transparent;
    transition-duration: 1s;
    background-color: #9d9ea2;
}





/* HEADER */
.main-header{
    padding: 0 145px;
    min-height: 64px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-menu{
    display: flex;
}

.header-menu li:not(:last-child){
    margin-right: 22px;
}

.header-menu-item{
    padding-bottom: 19px;
}

.header-menu a:hover{
    color: #FF9B51;
}




/* MAIN-PANEL */
.main-panel{
    background-image: url("./img/image 1.png");
    padding: 110px 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-panel-container{
    max-width: 542px;
}

.main-panel-logo{
    margin-bottom: 32px;
}

.main-panel-title{
    padding-bottom: 32px;
    margin-bottom: 32px;
    color: #FFF;
    position: relative;
 }

.main-panel-title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
}

.main-panel-content{
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 23px;
    color: #FFF;
}

.main-panel-btn{
    min-width: 134px;
    min-height: 42px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
}

.main-panel-form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    min-width: 360px;
}

.main-panel-form-title{
    display: flex;
    min-height: 54px;
    background-color: #DFDFDF;
    color: #333;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.main-panel-form-title b{
    text-transform: uppercase;
    color: #FF9B51;
}

.main-panel-form-data{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 42px 56px 42px;
    min-height: 260px;
}

.main-panel-input{
    height: 32px;
    border-width: 0 0 1px 0;
    border-bottom-color: #DFDFDF;
}

.main-panel-input:not(:last-child){
    margin-bottom: 44px;
}

.main-panel-form-btn{
    min-height: 54px;
    background-color: #FF9B51;
    color: #FFF;
    font-size: 15px;
    border-width: 0;
}




/* BRAND-BAR */
.brand-bar{
    display: flex;
    min-height: 105px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 18px 140px;
}

.brand-bar-content{
    max-width: 390px;
}

.brand-bar-content-title{
    margin-bottom: 6px;
    font-size: 20px;
}

.brand-bar-content p{
    font-size: 14px;
    color: #86878B;
    line-height: 20px;
}

.social-icons{
    display: flex;
    flex-wrap: wrap;
}

.social-icon{
    display: inline-block;
}

.social-icons>li:not(:last-child){
    margin-right: 32px;
}


/* FEATURES */

.features{
    min-height: 598px;
    background-color: #F5F5F5;
    padding: 130px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-tabs{
    display: flex;
    flex-direction: column;
    margin-right: 99px;
}

.features-tab {
    min-height: 112px;
    min-width: 112px;
    color: #FFF;
    font-size: 15px;
    line-height: 20px;
    border: 0;
}

.features-tab:hover{
    transition: 1s;
    border: 2px solid #fff;
    transform: scale(1.2);
}

.features-tab-1{
    background-color: #FF9B51;
    margin-bottom: 2px;
    border-radius: 4px 4px 0 0;
}

.features-tab-2{
    background-color: #333;
    margin-bottom: 2px;
}

.features-tab-3{
    background-color: #333;
    border-radius: 0 0 4px 4px;
}

.features-content{
    max-width: 506px;
    display: flex;
    flex-direction: column;
    margin-right: 78px;
}

.features-content-title{
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 42px;
}

.features-content-text{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 42px;
}

.features-content-btn{
    width: 134px;
    height: 42px;
    background-color: #FF9B51;
    border: 1px solid #FFF;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
}




/* OUR-PROCESS */
.our-process{
    min-height: 585px;
    padding: 105px 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.our-process-about{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 66px;
    color: #86878B;
}

.our-process-cases{
    display: flex;
    flex-wrap: wrap;
}

.our-process-case{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-process-case:not(:last-child){
    margin-right: 33px;
}

.our-process-case-img{
    margin-bottom: 27px;
}

.our-process-case-title{
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
}

.our-process-case-text{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    text-align: center;
}




/* PRICING */

.pricing{
    min-height: 900px;
    padding: 105px 145px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing-about{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 81px;
}

.pricing-slots{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.pricing-slot{
    min-width: 343px;
    line-height: 24px;
}

.pricing-slot>p, .pricing-slot-header>p, .pricing-slot-header-pro>p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-slot:not(:last-child){
    margin-right: 40px;
}

.pricing-slot-header{
    border-bottom: 5px solid #FF8B38;
}

.pricing-slot-header-name{
    min-height: 60px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    margin-bottom: 1px;
}

.pricing-slot-header-price{
    min-height: 100px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin-bottom: 1px;
}

.pricing-slot-header-text{
    min-height: 50px;
    font-size: 14px;
    font-style: italic;
    background-color: #333;
    color: #f5f5f5;
}

.pricing-slot-item{
    min-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    color: #86878B;
}

.pricing-slot-item:not(:last-child){
    margin-bottom: 1px;
}

.pricing-slot-item-pop{
    min-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: #FF8B38;
    color: #fff;
    font-weight: bold;
}





/* REVIEWS */
.reviews{
    min-height: 600px;
    padding: 100px 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reviews-about{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 85px;
}


.reviews-cases{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews-case{
    display: flex;
    flex-direction: column;
    max-width: 290px;
}

.reviews-case:not(:last-child){
    margin-right: 98px;
}

.reviews-case-text{
    display: flex;
    align-items: center;
    min-height: 127px;
    background-color: #F5F5F5;
    color: #86878B;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    margin-bottom: 28px;
    padding: 12px;
    position: relative;
}

.reviews-case-text:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 15px;
    border: solid transparent;
    border-top-color: #F5F5F5;
    border-width: 17px;
}

.reviews-case-user{
    display: flex;
}

.reviews-case-user-ava{
    margin-right: 16px;
}

.reviews-case-user-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-case-user-name{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 1px;
}

.reviews-case-user-prof{
    font-size: 14px;
    line-height: 19px;
}




/* CUSTOM */


.custom{
    min-height: 297px;
    background: url("./img/architecture.png");
    padding: 54px 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.custom-title{
    color: #fff;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
}

.custom-title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 64px;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.custom-about{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 38px;
}

.custom-btn{
    width: 134px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 15px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .2s;
}





/* CONTACT US */
.contact-us{
    min-height: 638px;
    padding: 73px 155px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact-us-about{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 111px;
}

.contact-us-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.contact-us-form-data{
    display: flex;
    flex-direction: column;
    margin-right: 56px;
}

.contact-us-form-input{
    height: 32px;
    width: 527px;
    border-width: 0 0 1px 0;
    border-bottom-color: #DFDFDF;
}

.contact-us-form-input:not(:last-child){
    margin-bottom: 28px;
}

.contact-us-form-message{
    height: 152px;
    width: 509px;
    border-width: 0 0 1px 0;
    border-bottom-color: #DFDFDF;
}

.contact-us-form-btn{
    height: 42px;
    width: 163px;
    background: #FA8F21;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}




/* FOOTER */
.footer{
    min-height: 124px;
    padding: 28px 145px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-icons img{
    height: 32px;
}

.footer-icons{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.footer-icons>li:not(:last-child){
    margin-right: 34px;
}

.footer-text{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}